.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 0 auto;
   
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 8%;
    padding: 1rem;
}
.inputs input{
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
    padding: 1.2rem;
    font-size: 1rem;
    text-align: center;
    appearance: none;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.inputs button{
    margin-top: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #222;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.inputs button:hover{
    transition: 0.5s;
    background: rgb(67, 65, 65);
}
.inputs h2{
    margin-top: 1rem;
    font-size: 1.4rem;
}



/*Media*/

.media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.media p {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2rem;
    font-size: 1.5rem;
}



/*results*/

.result{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.result img{
    margin-top: 2rem;
    height: 20rem;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0.3rem 0.5rem black;
}

@media(max-width:900px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;  
    }
    .inputs h2{
        font-size: 1rem;
    }

    .media p{
        font-size: 1rem;
    }
    .result img{
        height: 13rem;
    }
}